# SECRET_KEY="your_secret_key_here"
# ALGORITHM="HS256"

# ── App Database ───────────────────────────────────────────────────
# Comment out for SQLite (default). Uncomment one for Docker.
# DATABASE_URL=mysql+pymysql://root:12345678@localhost:3306/tasks_application_database
# DATABASE_URL=postgresql+psycopg://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:5432/TasksApplicationDatabase

# ── Admin Seed User ───────────────────────────────────────────────
# Used when loggin into Swagger docs
# ADMIN_USER=admin
# ADMIN_PASSWORD=admin123
# ADMIN_EMAIL=admin@example.com
# ADMIN_FIRST_NAME=Admin
# ADMIN_LAST_NAME=User

# ── Test Database ─────────────────────────────────────────────────
# Comment out for SQLite in-memory. Uncomment to test against a real DB.
# TEST_DATABASE_URL=postgresql+psycopg://postgres:TEST_POSTGRES_PASSWORD@localhost:5432/TasksApplicationDatabase
# TEST_DATABASE_URL=mysql+pymysql://root:TEST_MYSQL_PASSWORD@localhost:3306/tasks_application_database

# ── Docker Compose: MySQL ─────────────────────────────────────────
# MYSQL_ROOT_PASSWORD=12345678
# MYSQL_DATABASE=tasks_application_database
# MYSQL_PORT=3306
# ADMINER_PORT=8080
# -- Testing MySQL
# TEST_MYSQL_USER=root
# TEST_MYSQL_PASSWORD=changeme
# TEST_MYSQL_DB=tasks_application_database
# TEST_MYSQL_HOST=localhost
# TEST_MYSQL_PORT=3306


# ── Docker Compose: Postgres ──────────────────────────────────────
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=changeme
# POSTGRES_DB=TasksApplicationDatabase
# POSTGRES_PORT=5432
# PGADMIN_DEFAULT_EMAIL=admin@example.com
# PGADMIN_DEFAULT_PASSWORD=changeme
# PGADMIN_PORT=5050
# -- Testing Postgres
# TEST_POSTGRES_USER=postgres
# TEST_POSTGRES_PASSWORD=changeme
# TEST_POSTGRES_DB=TasksApplicationDatabase
# TEST_POSTGRES_HOST=localhost
# TEST_POSTGRES_PORT=5432
